@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    overflow-y: visible;
    background-color: #eeeae3;
}

h1 {
    font-family: "libre baskerville", serif;
    padding: 1vh 2vh;
    color:rgb(170, 153, 121);
    text-align: center;
    font-style: normal;
}

h2 {
    color: rgb(231, 14, 14);
    text-align: center;
    font: bold 20px "Lucida Grande";
    text-transform: uppercase;
}

q {
    text-align: center;
    font: 2rem "Lobster";
    color:rgb(170, 153, 121);
}

a {
    text-decoration: none;
}

p {
    padding: 2vh 2vw;
    text-align: left;
    text-justify: inter-word;
}

.sectionHeader > p {
    padding: 2% 15%;
    text-align: center;
}

img {
    margin: 2vh 2vw;
    box-shadow: 3px 4px 6px #1d1c1c;
}

/*Custom button styling with animation */
button {
    display: block; /*Block centering - margin set to auto*/
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: #eeeae3;
    border-radius: 10px;
    font-size: 16px;
    width: 80vw;
    height: 60px;
    min-width: 1px;
    border: none;

    a {
        text-decoration: none;
        color:#aa9979;
        display: block;
        height: 80px;
        line-height: 60px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    a:hover {
        color:#b17e1f;
    }
}

.layer1 {
    position: relative;
    transition: all 0.3s ease; /*specifies all properties to transition */
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), /*Sets the shadow */
    5px 5px 5px 0px rgba(0,0,0,.3);
}

/*Starting point of animation */
.layer1:hover:after { 
    left: auto;
    right: 0;
    width: 100%;
}

/*Nice push effect when activated */
.layer1:active {
    top: 2px;
}

/*This creates the moving shadow effect. */
.layer2:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1; //Shadow stays behind text, and does not interfere with cursor
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

