@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    overflow-y: visible;
    background-color: #eeeae3;
}

h1 {
    font-family: "libre baskerville", serif;
    padding: 1vh 2vh;
    color:rgb(170, 153, 121);
    text-align: center;
    font-style: normal;
}

h2 {
    color: rgb(231, 14, 14);
    text-align: center;
    font: bold 20px "Lucida Grande";
    text-transform: uppercase;
}

q {
    text-align: center;
    font: 2rem "Lobster";
    color:rgb(170, 153, 121);
}

a {
    text-decoration: none;
}

p {
    padding: 2vh 2vw;
    text-align: left;
    text-justify: inter-word;
}

.sectionHeader > p {
    padding: 2% 15%;
    text-align: center;
}


img {
    margin: 2vh 2vw;
    box-shadow: 3px 4px 6px #1d1c1c;
}

button {
    display: block; /*Block centering*/
    margin-right: auto;
    margin-left: auto; 
    background-color: #eeeae3;
    border: 5px, black;
    border-radius: 10px;
    font-size: 16px;
    width: 80vw;
    height: 80px;
    min-width: 1px;

    a {
        text-decoration: none;
        color:#aa9979;
        display: block;
        height: 80px;
        line-height: 80px;
        font-size: 1.2rem;
        font-weight: bold;

    }
}
