/* Using background-attachment to create a parallax feel, with a gradiant shade to give better focus on text*/
.headerBGFixed {
    position: relative;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .8),rgba(0, 0, 0, .5)), url('https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg');
    min-height: $parallaxMinHeight;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*Navigation fade effect placed across the screen at the top */
.headerBGFixed:before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: $fadeHeight*1.5;
    background-image: linear-gradient(to bottom, rgba(27, 25, 25, 0), rgba(0, 0, 0, 0.8) 100%); 
}

/*White fade effect */
.headerBGFixed:after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: $fadeHeight;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(238, 234, 227, .8) 100%); 
}

.navWrapper {
    position: absolute;
    top: 2vh;
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    width: 100%;
    align-content: center;
    justify-items: end;

    .navDropdown {
        position: relative;
        display: inline-block;
        justify-self: start;
        padding-left: 10px;
        
        #dropdownIcon {
            display: inline-block;
            filter: invert(100);
            margin: 0;
            box-shadow: initial;
            align-self: end;
        }
        
        #menuToggle:checked ~ .dropdown-content {
            display: block;
            position: absolute;
            animation-name: navBarReveal;
            animation-duration: .4s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
            z-index: 2;
            opacity: 95%;
        }

        #menuToggle {
            display: none; //Hides the toggle checkbox from view
        }

        label {
            user-select: none; //allows label to be selected
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 85vw;
            min-height: 60vh; // Maintains structure in landscape view
            box-shadow: 0px 8px 16px 0px rgba(211, 175, 175, 0.2);
            padding: 15px 16px;
            background-color: rgba(0, 0, 0, .9);
            border-radius: 5px;

            a {
                color: white;
            }

            #logoInNaV {
                height: 100px;
                box-shadow: unset;
            }

            li {
                list-style-type: none;
                padding: 30px;
                border-bottom: 1px solid rgba(230, 228, 228, 0.8);
                text-align: center;
            }
            
            a {
                text-align: center;
            }
            
            #navContact li {
                border-bottom: none;
                color: rgb(170, 153, 121);
                font-weight: bold;
                font-size: 1.1rem;
                padding: 0;

                a {
                    color: rgb(170, 153, 121);
                }
            }
            #navContact {
                padding-top: 30px;
            }
        }
    }     
    @keyframes navBarReveal {
        0% {opacity: 0%; left: -4vw;}
        100% {opacity: 100%; left: 10px;}
    }
    
    #desktopOnlyNav {
        display: none;
        justify-self: center;
        align-self: center;
        
        li{
            display: inline;
            a {
                color: white;
            }
        }
    }
    
    #phoneNumNav {
        align-self: center;
        a {
            color: white;
        }
    }

}  
    //Phone Icon Styling (Mobile Only)
    #mobilePhoneIcon {
        img{
            filter: invert(100);
            height: 38px;
            box-shadow: none;
            justify-self: end;
            margin-top: 8px;
            margin-right: 18px;
        }    

        p {
            display: none;
        }
}

.navigation_grid_container {
    position: absolute;
    top: 100px; /*Using px unit to keep title stationary during variable window sizes*/ 
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .2fr .5fr;
    height: 40vh;
    align-items: center;
    justify-content: center;
    
    #pageTitle > h1 {
        font-size: 3rem;
        text-align: center;
    }

    #pageTitle > h1:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 55%;
        padding-top: 10px;
        border-bottom: 1px solid white;
    }

    #pageTitle > p {
        font-size: 1.2rem;
        text-align: center;
        margin-top: 5px;
    }

    #logo {
        height: 120px;
        margin: 0;
        box-shadow: initial;
        justify-self: center;
    }

    #phoneShade {
        display: none;
    }
}

#mobilePhoneNum {
    height: 18px;
    padding: 0;
    margin: 0;
    filter: invert(100);
    box-shadow: none;
    top: 0;
}


@media only screen and (min-width:700px) {
    .navWrapper {
        grid-template-columns: .1fr 1fr;

        #phoneNumNav {
            display: none;
        }
    }
    
    #mobilePhoneIcon {

        img {
            display: none;
        }

        p {
            display: inline-block;
            color: white;
            font-size: 1.2rem;
        }

        #inlinePhoneIcon {
            display: inline-block;
            height: 18px;
            filter: invert(100%);
            margin:0;
            padding:0;
        }
    }

    #navContact a {
        pointer-events: none; // Makes the anchor tag unclickable
        cursor: default;
    }

    #pageTitle > #phoneShade {
        display: block;
        margin-top: 3.5vw;
        margin-left: 40vw;
        margin-right: 40vw;
        background-color: rgba(0, 0, 0, .5);
    }

}

@media only screen and (min-width:1000px) {
    
    .navWrapper {
        display: inline;

        .navDropdown {
            display: none;
        }
        
        #desktopOnlyNav {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            text-align: center;
            margin: 2vh 34vw;
            justify-items: center;
            
            li {
                display: inline;
                
                a {
                    color:rgb(170, 153, 121);
                }

                a:hover {
                    color:rgb(236, 236, 236);
                }
            }

            #phoneCTA {
                color: white;
                justify-self: end;
                pointer-events: none;
                cursor: auto;
            }
            
            #inlinePhoneIcon {
                display: inline-block;
                height: 18px;
                filter: invert(100%);
                margin: 0;
                padding: 0;
                box-shadow: none;
            }
        }
    }

    #mobilePhoneIcon {
        p {
            display: none;
        }
    }

}