.headerBGFixed {
    min-height: $parallaxMinHeight*0.7;
}

.headerBGFixed:before {
    height: $fadeHeight*1.2;
}

.navigation_grid_container {
    #logo {
        height: 100px;
    }
}

//Page load title animation
@keyframes title_appear {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

#pageTitle > h1 {
   @include pageLoadAppearH1 ($fontSze);
}

@keyframes slide_in_top {
    0% {opacity: 0%; top:-20px;}
    100% {opacity: 100%; top:-10px;}
}

#pageTitle > p {
    @include pageLoadAppearP ($fontSze*.5);
}

@media only screen and (min-width:700px) {

    #phoneShade {
        display: none;
    }
}

@media only screen and (min-width:1000px) {
    .headerBGFixed {
        min-height: $parallaxMinHeight*0.8;
    }
    #phoneShade {
        display: none;
    }
    
}