@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import '_generalStyle';
@import '_variablesMixins.scss';
@import '_subPageStyle.scss';

.headerBGFixed {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6)), url('https://i.pinimg.com/originals/13/d7/1f/13d71f79fb91e46fc02045c3d5678518.jpg');
}

@import '_headerStyle.scss';

.navigation_grid_container #pageTitle > h1:after {
    display: none;
    border-bottom: none;
}

.OneColGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    row-gap: 5%;
    height: 25vh;

    img {
        width: 100%;
        height: 70%;
        border-radius: 5px;
        object-fit: cover;
    }

    div {
        background-color: rgba($color: #CF0101, $alpha: .7); //alpha = opacity for RGBA
        margin: 0 20px;
        border-radius: 5px;
        height: 680px;
    }

    p {
        color: #eee4e3;
    }
}

.quoteBox {
    position: relative;
    background-color: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 6vh;
    border-radius: 10px;
    margin: 20px;

    q:before {
        position: absolute;
        color: rgb(228, 18, 18);
        content: open-quote;
        font-size: 4em;
        margin-right: 10px;
        top: 5px;
        left: 5px;
    }

    q:after {
        position: absolute;
        color: rgb(228, 18, 18);
        content: close-quote;
        font-size: 4em;
        margin-right: 10px;
        bottom: 5px;
        right: 5px;
    }
    
    p {
        text-align: center;
        font-size: 2rem;
        font-family: 'Gloria Hallelujah', "cursive";
        color:rgb(170, 153, 121);
    }
}

@media only screen and (min-width: 7in) {
   
}
