@import '_generalStyle';
@import '_variablesMixins.scss';
@import '_headerStyle.scss';
@import '_subPageStyle.scss';

.headerBGFixed {
    background-image: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6)), url('https://i.pinimg.com/originals/fc/40/ee/fc40ee0c2f22b29d21c33e64ac11dbf3.jpg');
}

.sectionHeaderV2 > h1 {
    font-size: 2rem;
    font-style: bold;
    padding-top: 3vh;
    text-align: center;
}

.sectionHeaderV2 > p {
    text-align: center;
    padding: 2vh 10vw;
}

.navigation_grid_container #pageTitle > h1:after { // Removes the line separater from header
    display: none;
    border-bottom: none;
}

.menuNavContainer {
    text-align: center;
    border: 2px solid rgb(170, 153, 121);
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
}

.menuLabel {
    position: relative;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    background-size: 120%;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 150px;
    height: 100px;
    padding-right: 1vw;
    padding-left: 1vw;
    font-size: 1.2rem;
    border-right: 1px solid grey;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px #1d1c1c;

    p {
        color: rgb(170, 153, 121);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

//Initiate hover background
.menuLabel:nth-child(2):hover {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .6),rgba(0, 0, 0, .2)), url('https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg');
    p {
        color: white;
    }
}

.menuLabel:nth-child(4):hover {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .6),rgba(0, 0, 0, .2)), url('https://i.pinimg.com/originals/28/80/21/288021e54efdcf0f01039ba1608ca2fd.jpg');
    background-size: 120%;
    p {
        color: white;
    }
}

.menuLabel:nth-child(6):hover {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .6),rgba(0, 0, 0, .2)), url('https://i.pinimg.com/originals/a2/f9/4c/a2f94cf569c4eff1cf24289720a2165d.jpg');
  
    p {
        color: white;
    }
}

.menuLabel:nth-child(8):hover {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .6),rgba(0, 0, 0, .2)), url('https://i.pinimg.com/originals/25/6e/e4/256ee47db5ecfb4b1d2b78376e52d86e.jpg');
    background-position: -10px 0;
    p {
        color: white;
    }
}

input[type="radio"]:checked + label:nth-child(2) {
    border: 5px solid rgb(170, 153, 121);
    background-image: url('https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg');
    p {
        color: white;
    }
}

input[type="radio"]:checked + label:nth-child(4) {
    border: 5px solid rgb(44, 95, 206);
    background-image: url('https://i.pinimg.com/originals/28/80/21/288021e54efdcf0f01039ba1608ca2fd.jpg');
    p {
        color: white;
    }
}

input[type="radio"]:checked + label:nth-child(6) {
    border: 5px solid rgb(224, 154, 23);
    background-image: url('https://i.pinimg.com/originals/a2/f9/4c/a2f94cf569c4eff1cf24289720a2165d.jpg');
    p {
        color: white;
    }
}

input[type="radio"]:checked + label:nth-child(8) {
    border: 5px solid rgb(71, 151, 84);
    background-image: url('https://i.pinimg.com/originals/25/6e/e4/256ee47db5ecfb4b1d2b78376e52d86e.jpg');
    background-position: -10px 0;
    p {
        color: white;
    }
}

#pizza, #pizzaToggle, #pasta, #pastaToggle, #dessert, #dessertToggle, #kidsMenu, #kidsMenuToggle {
    display: none;
}
  
#pizzaToggle:checked ~ #pizza {
    display: block;
}
  
#pastaToggle:checked ~ #pasta {
    display: block;
}

#dessertToggle:checked ~ #dessert {
    display: block;
}

#kidsMenuToggle:checked ~ #kidsMenu {
    display: block;
}
  
label {
    user-select: none;
    display: inline-block;
    cursor: pointer;
}

.menuDisplay {
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
    background-image: url('https://i.pinimg.com/originals/cc/2e/3c/cc2e3c6a25ef5fdb2946872ac5221354.jpg');
}

.menuDisplay > div {
    width: 80vw;
    padding: 0 4vw;
    margin-left: 10px;

    h4, p {
        color: white;
    }

    h4 {
        text-transform: uppercase;
        color:rgb(170, 153, 121);
        text-align: left;
    }
    
    h1 {
        padding-left: 0;
        text-align: left;
        margin-bottom: 10px;
        border-bottom: 1px white solid;
    }
}

#pizzSzePrcs  {
    padding: 0 4vw;
    th {
        color:rgb(170, 153, 121);
        padding: 0 2vw;
        font-size: 1rem;
        padding-bottom: 10px;
    }
    td {
        color: white;
        padding-bottom: 10px;
    }
   
    #tblHead {
        padding-right:0;
    }
   
}

.mobileHiddenPics {
    display: none;
 }

@import '_footerStyle.scss';

@media only screen and (min-width:700px) {
    
    .mobileHiddenPics {
        display: inline-block;
        height: 100px;
        box-shadow: 3px 4px 6px #1d1c1c;
        border-radius: 10px;
    }

    .menuNavContainer {
        margin: 0 10vw;
        margin-bottom: 5vh;
    }

    .menuLabel {
        margin: 20px;
        margin-right: 10px;
        width: 230px;
        height: 150px;
    }

    #menuGridTabDesk {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 0;
        justify-items: center;
        align-items: center;
    }
    
    #pizzSzePrcs {
        margin-left:auto; 
        margin-right:auto;
    }

    .menuDisplay > div > h1 {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
}