@import '_generalStyle';
@import '_variablesMixins.scss';
@import '_subPageStyle.scss';

.headerBGFixed {
    background-image: linear-gradient(to top,rgba(0, 0, 0, .6),rgba(0, 0, 0, .9)), url('https://i.pinimg.com/originals/fc/40/ee/fc40ee0c2f22b29d21c33e64ac11dbf3.jpg');
}

@import '_headerStyle.scss';

.sectionHeaderV2 > h1 {
    font-size: 2rem;
    font-style: bold;
    padding-top: 3vh;
    text-align: center;
}

.sectionHeaderV2 > p {
    text-align: center;
    padding: 2vh 10vw;
}

.navigation_grid_container #pageTitle > h1:after { // Removes the line separater from title
    display: none;
    border-bottom: none;
}

//Menu code - used checkbox toggle to display active menu page

.menuNavContainer {
    text-align: center;
    border: 2px solid rgb(170, 153, 121);
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    
}
label {
    position: relative;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    border-radius: 25px;
    background-size: 120%;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 150px;
    height: 100px;
    padding-right: 1vw;
    padding-left: 1vw;
    font-size: 1.2rem;
    border-right: 1px solid grey;
    margin-top: 50px;

    p {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

//Initiate hover background
label:nth-child(2):hover {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .6),rgba(0, 0, 0, .2)), url('https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg');
}

label:nth-child(4):hover {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .6),rgba(0, 0, 0, .2)), url('https://i.pinimg.com/originals/28/80/21/288021e54efdcf0f01039ba1608ca2fd.jpg');
    background-size: 120%;
}

label:nth-child(6):hover {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .6),rgba(0, 0, 0, .2)), url('https://i.pinimg.com/originals/7e/42/0a/7e420a4692d6070d9f3b2ce5cd6c5c7b.jpg');
    background-position: -30px -80px;
}

label:nth-child(8):hover {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .6),rgba(0, 0, 0, .2)), url('https://i.pinimg.com/originals/25/6e/e4/256ee47db5ecfb4b1d2b78376e52d86e.jpg');
    background-position: -10px 0;
}

input[type="radio"]:checked + label:nth-child(2) {
    border: 5px solid red;
    background-image: url('https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg');
}

input[type="radio"]:checked + label:nth-child(4) {
    border: 5px solid red;
    background-image: url('https://i.pinimg.com/originals/28/80/21/288021e54efdcf0f01039ba1608ca2fd.jpg');
}

input[type="radio"]:checked + label:nth-child(6) {
    border: 5px solid red;
    background-image: url('https://i.pinimg.com/originals/7e/42/0a/7e420a4692d6070d9f3b2ce5cd6c5c7b.jpg');
    background-position: -30px -80px;
}

input[type="radio"]:checked + label:nth-child(8) {
    border: 5px solid red;
    background-image: url('https://i.pinimg.com/originals/25/6e/e4/256ee47db5ecfb4b1d2b78376e52d86e.jpg');
    background-position: -10px 0;
}
 /* Radio element, when checked */
input[type="radio"]:checked + label {
    border: 5px solid red;
}

#pizza, #pizzaToggle, #pasta, #pastaToggle, #dessert, #dessertToggle, #kidsMenu, #kidsMenuToggle {
    display: none;
}
  
#pizzaToggle:checked ~ #pizza {
    display: block;
}
  
#pastaToggle:checked ~ #pasta {
    display: block;
}

#dessertToggle:checked ~ #dessert {
    display: block;
}

#kidsMenuToggle:checked ~ #kidsMenu {
    display: block;
}
  
label {
    user-select: none;
    display: inline-block;
    cursor: pointer;
}

.menuDisplay {
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
    background-image: url('https://i.pinimg.com/originals/cc/2e/3c/cc2e3c6a25ef5fdb2946872ac5221354.jpg');
}

.menuDisplay > div {
    width: 80vw;
    padding: 0 4vw;
    margin-left: 10px;

    h4, p {
        color: white;
    }

    h4 {
        text-transform: uppercase;
        color:rgb(170, 153, 121);
        text-align: left;
    }
    
    h1 {
        padding-left: 0;
        text-align: left;
        margin-bottom: 10px;
        border-bottom: 1px white solid;
    }
}

.mobileHiddenPics {
    display: none;
 }

@import '_footerStyle.scss';

@media only screen and (min-width:700px) {
    

    .mobileHiddenPics {
        height: 100px;
    }
    .menuNavContainer {
        margin: 0 20vw;
    }



    
}