@import '_generalStyle';
@import '_variablesMixins.scss';
@import '_subPageStyle.scss';

.headerBGFixed {
    background-image: linear-gradient(to top,rgba(0, 0, 0, .6),rgba(0, 0, 0, .9)), url('https://i.pinimg.com/originals/fc/40/ee/fc40ee0c2f22b29d21c33e64ac11dbf3.jpg');
}

@import '_headerStyle.scss';

.sectionHeaderV2 > h1 {
    font-size: 2rem;
    font-style: bold;
    padding-top: 3vh;
    text-align: center;
}

.sectionHeaderV2 > p {
    text-align: center;
    padding: 0 15vw;
}

.navigation_grid_container #pageTitle > h1:after { // Removes the line separater from title
    display: none;
    border-bottom: none;
}

.menuNavContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    border: 2px solid rgb(170, 153, 121);
    padding: 10px;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    
    a {
        list-style-type: none;
        text-align: center;
        padding-right: 1vw;
        padding-left: 1vw;
        font-size: 1.2rem;
        border-right: 1px solid grey;
        margin-top: 50px;
    }
}

.menuWrapperMain {
    display: flex;
    position: relative;
    overflow-x: scroll;
    overflow: hidden;
    background-image: url('https://i.pinimg.com/originals/cc/2e/3c/cc2e3c6a25ef5fdb2946872ac5221354.jpg');
    scroll-behavior: smooth;

    .itemSlide {
        display: flex;
        flex-direction: column;
        padding-top: 4vh;
    }

    .itemSlide > div {
        width: 100vw;
        padding: 0 4vw;
        margin-left: 10px;
    }

    h4, p {
        color: white;
    }

    h4 {
        text-transform: uppercase;
        color:rgb(170, 153, 121);
    }

    h1 {
        padding-left: 0;
        text-align: left;
        margin-bottom: 10px;
        border-bottom: 1px white solid;
    }
}

@import '_footerStyle.scss';

@media only screen and (min-width:700px) {
    .menuWrapperMain {
        margin: 0 20vw;

        .itemSlide > div {
            width: 60vw;
        }
    }

    .menuNavContainer {
        margin: 0 20vw;
    }


}