@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  overflow-y: visible;
  background-color: #eeeae3;
}

h1 {
  font-family: "libre baskerville", serif;
  padding: 1vh 2vh;
  color: #aa9979;
  text-align: center;
  font-style: normal;
}

h2 {
  color: #e70e0e;
  text-align: center;
  font: bold 20px "Lucida Grande";
  text-transform: uppercase;
}

q {
  text-align: center;
  font: 2rem "Lobster";
  color: #aa9979;
}

a {
  text-decoration: none;
}

p {
  padding: 2vh 2vw;
  text-align: left;
  text-justify: inter-word;
}

.sectionHeader > p {
  padding: 2% 15%;
  text-align: center;
}

img {
  margin: 2vh 2vw;
  box-shadow: 3px 4px 6px #1d1c1c;
}

button {
  display: block;
  background-color: #eeeae3;
  border: 5px, black;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  padding: 1vh 6vw;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
}

.headerBGFixed {
  position: relative;
  min-height: 300px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes title_appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#pageTitle > h1 {
  opacity: 0%;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  animation-name: title_appear;
  animation-duration: 2.5s;
  animation-delay: .25s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slide_in_top {
  0% {
    opacity: 0%;
    top: -20px;
  }
  100% {
    opacity: 100%;
    top: -10px;
  }
}

#pageTitle > p {
  opacity: 0%;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.5rem;
  color: white;
  font-style: italic;
  text-align: center;
  animation-name: slide_in_top;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.headerBGFixed {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("https://i.pinimg.com/originals/fc/40/ee/fc40ee0c2f22b29d21c33e64ac11dbf3.jpg");
}

.navWrapper {
  position: absolute;
  top: 2vh;
  display: grid;
  grid-template-columns: .1fr 1fr;
  width: 100%;
  align-content: center;
  justify-items: end;
}

.navWrapper .navDropdown {
  position: relative;
  display: inline-block;
  justify-self: start;
  padding-left: 10px;
}

.navWrapper .navDropdown #dropdownIcon {
  display: inline-block;
  filter: invert(100);
  margin: 0;
  box-shadow: initial;
  align-self: end;
}

.navWrapper .navDropdown #menuToggle:checked ~ .dropdown-content {
  display: block;
  position: absolute;
  animation-name: navBarReveal;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  z-index: 2;
  opacity: 95%;
}

.navWrapper .navDropdown #menuToggle {
  display: none;
}

.navWrapper .navDropdown label {
  user-select: none;
  cursor: pointer;
}

.navWrapper .navDropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 85vw;
  min-height: 60vh;
  box-shadow: 0px 8px 16px 0px rgba(211, 175, 175, 0.2);
  padding: 15px 16px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

.navWrapper .navDropdown .dropdown-content a {
  color: white;
}

.navWrapper .navDropdown .dropdown-content #logoInNaV {
  height: 100px;
  box-shadow: unset;
}

.navWrapper .navDropdown .dropdown-content li {
  list-style-type: none;
  padding: 30px;
  border-bottom: 1px solid rgba(230, 228, 228, 0.8);
  text-align: center;
}

.navWrapper .navDropdown .dropdown-content a {
  text-align: center;
}

.navWrapper .navDropdown .dropdown-content #navContact li {
  border-bottom: none;
  color: #aa9979;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0;
}

.navWrapper .navDropdown .dropdown-content #navContact li a {
  color: #aa9979;
}

.navWrapper .navDropdown .dropdown-content #navContact {
  padding-top: 30px;
}

@keyframes navBarReveal {
  0% {
    opacity: 0%;
    left: -4vw;
  }
  100% {
    opacity: 100%;
    left: 10px;
  }
}

.navWrapper #desktopOnlyNav {
  display: none;
  justify-self: center;
  align-self: center;
}

.navWrapper #desktopOnlyNav li {
  display: inline;
}

.navWrapper #desktopOnlyNav li a {
  color: white;
}

.navWrapper #mobilePhoneIcon {
  filter: invert(100);
  height: 38px;
  box-shadow: none;
  justify-self: end;
  margin-top: 10px;
  margin-right: 18px;
}

.navigation_grid_container {
  position: absolute;
  top: 10vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: .1fr .2fr .5fr;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

.navigation_grid_container #pageTitle > h1 {
  font-size: 3rem;
  text-align: center;
}

.navigation_grid_container #pageTitle > h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 55%;
  padding-top: 10px;
  border-bottom: 1px solid white;
}

.navigation_grid_container #pageTitle > p {
  font-size: 1.2rem;
  text-align: center;
}

.navigation_grid_container #logo {
  height: 120px;
  margin: 0;
  box-shadow: initial;
  justify-self: center;
}

@media only screen and (min-width: 700px) {
  #mobilePhoneIcon {
    display: none;
  }
  #navContact a {
    pointer-events: none;
    cursor: default;
  }
}

@media only screen and (min-width: 1000px) {
  .navWrapper {
    display: inline;
  }
  .navWrapper .navDropdown {
    display: none;
  }
  .navWrapper #desktopOnlyNav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    margin: 2vh 32vw;
  }
  .navWrapper #desktopOnlyNav li {
    display: inline;
  }
  .navWrapper #desktopOnlyNav li a {
    color: #aa9979;
  }
}

.sectionHeaderV2 > h1 {
  font-size: 2rem;
  font-style: bold;
  padding-top: 3vh;
  text-align: center;
}

.sectionHeaderV2 > p {
  text-align: center;
  padding: 2vh 10vw;
}

.navigation_grid_container #pageTitle > h1:after {
  display: none;
  border-bottom: none;
}

.menuNavContainer {
  text-align: center;
  border: 2px solid #aa9979;
  border-top-left-radius: 50px 50px;
  border-top-right-radius: 50px 50px;
}

.menuLabel {
  position: relative;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 25px;
  background-size: 120%;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 150px;
  height: 100px;
  padding-right: 1vw;
  padding-left: 1vw;
  font-size: 1.2rem;
  border-right: 1px solid grey;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 4px #1d1c1c;
}

.menuLabel p {
  color: #aa9979;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.menuLabel:nth-child(2):hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg");
}

.menuLabel:nth-child(2):hover p {
  color: white;
}

.menuLabel:nth-child(4):hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("https://i.pinimg.com/originals/28/80/21/288021e54efdcf0f01039ba1608ca2fd.jpg");
  background-size: 120%;
}

.menuLabel:nth-child(4):hover p {
  color: white;
}

.menuLabel:nth-child(6):hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("https://i.pinimg.com/originals/7e/42/0a/7e420a4692d6070d9f3b2ce5cd6c5c7b.jpg");
  background-position: -30px -80px;
}

.menuLabel:nth-child(6):hover p {
  color: white;
}

.menuLabel:nth-child(8):hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("https://i.pinimg.com/originals/25/6e/e4/256ee47db5ecfb4b1d2b78376e52d86e.jpg");
  background-position: -10px 0;
}

.menuLabel:nth-child(8):hover p {
  color: white;
}

input[type="radio"]:checked + label:nth-child(2) {
  border: 5px solid #aa9979;
  background-image: url("https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg");
}

input[type="radio"]:checked + label:nth-child(2) p {
  color: white;
}

input[type="radio"]:checked + label:nth-child(4) {
  border: 5px solid #2c5fce;
  background-image: url("https://i.pinimg.com/originals/28/80/21/288021e54efdcf0f01039ba1608ca2fd.jpg");
}

input[type="radio"]:checked + label:nth-child(4) p {
  color: white;
}

input[type="radio"]:checked + label:nth-child(6) {
  border: 5px solid #e09a17;
  background-image: url("https://i.pinimg.com/originals/7e/42/0a/7e420a4692d6070d9f3b2ce5cd6c5c7b.jpg");
  background-position: -30px -80px;
}

input[type="radio"]:checked + label:nth-child(6) p {
  color: white;
}

input[type="radio"]:checked + label:nth-child(8) {
  border: 5px solid #479754;
  background-image: url("https://i.pinimg.com/originals/25/6e/e4/256ee47db5ecfb4b1d2b78376e52d86e.jpg");
  background-position: -10px 0;
}

input[type="radio"]:checked + label:nth-child(8) p {
  color: white;
}

#pizza, #pizzaToggle, #pasta, #pastaToggle, #dessert, #dessertToggle, #kidsMenu, #kidsMenuToggle {
  display: none;
}

#pizzaToggle:checked ~ #pizza {
  display: block;
}

#pastaToggle:checked ~ #pasta {
  display: block;
}

#dessertToggle:checked ~ #dessert {
  display: block;
}

#kidsMenuToggle:checked ~ #kidsMenu {
  display: block;
}

label {
  user-select: none;
  display: inline-block;
  cursor: pointer;
}

.menuDisplay {
  display: flex;
  flex-direction: column;
  padding-top: 4vh;
  background-image: url("https://i.pinimg.com/originals/cc/2e/3c/cc2e3c6a25ef5fdb2946872ac5221354.jpg");
}

.menuDisplay > div {
  width: 80vw;
  padding: 0 4vw;
  margin-left: 10px;
}

.menuDisplay > div h4, .menuDisplay > div p {
  color: white;
}

.menuDisplay > div h4 {
  text-transform: uppercase;
  color: #aa9979;
  text-align: left;
}

.menuDisplay > div h1 {
  padding-left: 0;
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px white solid;
}

#pizzSzePrcs {
  padding: 0 4vw;
}

#pizzSzePrcs th {
  color: #aa9979;
  padding: 0 2vw;
  font-size: 1rem;
  padding-bottom: 10px;
}

#pizzSzePrcs td {
  color: white;
  padding-bottom: 10px;
}

#pizzSzePrcs #tblHead {
  padding-right: 0;
}

.mobileHiddenPics {
  display: none;
}

.footerGridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), black), url("https://i.pinimg.com/originals/59/ed/b4/59edb4fc80e730ffb402c1d4df58a1bb.jpg");
  background-size: cover;
  justify-items: start;
}

.footerGridContainer div {
  color: white;
  margin-left: 10vw;
}

.footerGridContainer h2 {
  padding: 2vh 0;
}

.footerGridContainer li {
  list-style: none;
  padding: 5px 0;
}

.footerGridContainer a {
  text-decoration: none;
  color: white;
}

.footerGridContainer .socialMediaIcons {
  height: 18px;
  justify-self: left;
  padding: 2px;
  box-shadow: none;
  margin: 10px;
  filter: invert(100%);
}

@media only screen and (min-width: 700px) {
  .footerGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-size: cover;
    justify-items: left;
  }
  .footerGridContainer div {
    color: white;
    padding: 0;
  }
  .footerGridContainer h2 {
    padding: 2vh 0;
  }
  .footerGridContainer li {
    list-style: none;
    padding: 5px 0;
  }
  .footerGridContainer div:nth-child(4) {
    grid-column: 1 / span 3;
    padding: 0;
    padding-top: 40px;
    margin: 0;
    justify-self: center;
  }
  .footerGridContainer div:nth-child(4):before {
    content: "";
    display: block;
    width: 100%;
    border-top: 2px solid white;
  }
}

@media only screen and (min-width: 1000px) {
  .footerGridContainer {
    padding-bottom: 5vh;
  }
}

@media only screen and (min-width: 700px) {
  .mobileHiddenPics {
    display: inline-block;
    height: 100px;
    box-shadow: 3px 4px 6px #1d1c1c;
    border-radius: 10px;
  }
  .menuNavContainer {
    margin: 0 10vw;
    margin-bottom: 5vh;
    margin-left: 0;
  }
  .menuLabel {
    margin: 20px;
    margin-right: 10px;
    width: 230px;
    height: 150px;
  }
  #menuGridTabDesk {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 0;
    justify-items: center;
    align-items: center;
  }
  #pizzSzePrcs {
    margin-left: auto;
    margin-right: auto;
  }
  .menuDisplay > div > h1 {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
/*# sourceMappingURL=menuStyle.css.map */