* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  overflow-y: visible;
  background-color: #eeeae3;
}

h1 {
  font-family: "libre baskerville", serif;
  padding: 1vh 2vh;
  color: #aa9979;
  text-align: center;
  font-style: normal;
}

h2 {
  color: #e70e0e;
  text-align: center;
  font: bold 20px "Lucida Grande";
  text-transform: uppercase;
}

q {
  text-align: center;
  font: bold 20px "Lucida Grande";
  color: #aa9979;
}

a {
  text-decoration: none;
}

p {
  padding: 2vh 2vw;
  text-align: left;
  text-justify: inter-word;
}

.sectionHeader > p {
  padding: 2% 15%;
  text-align: center;
}

img {
  margin: 2vh 2vw;
  box-shadow: 3px 4px 6px #1d1c1c;
}

button {
  background-color: #eeeae3;
  border: 5px, black;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  padding: 1vh 6vw;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
}

.headerBGFixed {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), black), url("https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

fade {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(238, 234, 227, 0.9) 100%);
}

.navWrapper {
  position: absolute;
  top: 2vh;
  display: grid;
  grid-template-columns: .1fr 1fr;
  width: 100%;
  align-content: center;
  justify-items: end;
}

.navWrapper .navDropdown {
  position: relative;
  display: inline-block;
  justify-self: start;
  padding-left: 10px;
}

.navWrapper .navDropdown #dropdownIcon {
  display: inline-block;
  filter: invert(100);
  margin: 0;
  box-shadow: initial;
  align-self: end;
}

.navWrapper .navDropdown #menuToggle:checked ~ #menu {
  display: block;
  position: absolute;
  animation-name: navBarReveal;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  z-index: 2;
  opacity: 95%;
}

.navWrapper .navDropdown #menuToggle {
  display: none;
}

.navWrapper .navDropdown label {
  user-select: none;
}

.navWrapper .navDropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 85vw;
  min-height: 60vh;
  box-shadow: 0px 8px 16px 0px rgba(211, 175, 175, 0.2);
  padding: 15px 16px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

.navWrapper .navDropdown .dropdown-content a {
  color: white;
}

.navWrapper .navDropdown .dropdown-content #logoInNaV {
  height: 100px;
  box-shadow: unset;
}

.navWrapper .navDropdown .dropdown-content li {
  list-style-type: none;
  padding: 30px;
  border-bottom: 1px solid rgba(230, 228, 228, 0.8);
  text-align: center;
}

.navWrapper .navDropdown .dropdown-content a {
  text-align: center;
}

.navWrapper .navDropdown .dropdown-content #navContact li {
  border-bottom: none;
  color: #aa9979;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0;
}

.navWrapper .navDropdown .dropdown-content #navContact li a {
  color: #aa9979;
}

.navWrapper .navDropdown .dropdown-content #navContact {
  padding-top: 30px;
}

.navWrapper .navDropdown #logoInNaV:hover {
  background-color: none;
}

@keyframes navBarReveal {
  0% {
    opacity: 0%;
    left: -4vw;
  }
  100% {
    opacity: 100%;
    left: 10px;
  }
}

.navWrapper .navDropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  animation-name: navBarReveal;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  z-index: 2;
  opacity: 95%;
}

.navWrapper #desktopOnlyNav {
  display: none;
  justify-self: center;
  align-self: center;
}

.navWrapper #desktopOnlyNav li {
  display: inline;
}

.navWrapper #desktopOnlyNav li a {
  color: white;
}

.navWrapper #mobilePhoneIcon {
  filter: invert(100);
  height: 38px;
  box-shadow: none;
  justify-self: end;
  margin-top: 10px;
  margin-right: 18px;
}

.navigation_grid_container {
  position: absolute;
  top: 10vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: .1fr .2fr .5fr;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

.navigation_grid_container #pageTitle > h1 {
  font-size: 3rem;
  text-align: center;
}

.navigation_grid_container #pageTitle > h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 55%;
  padding-top: 10px;
  border-bottom: 1px solid white;
}

.navigation_grid_container #pageTitle > p {
  font-size: 1.2rem;
  text-align: center;
}

.navigation_grid_container #logo {
  height: 120px;
  margin: 0;
  box-shadow: initial;
  justify-self: center;
}

.ourStoryGridCntnr {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  justify-items: center;
}

.ourStoryGridCntnr img {
  height: 27vh;
  width: 95%;
  object-fit: cover;
}

.ourStoryGridCntnr button {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.ourStoryGridCntnr #imgRight {
  display: none;
}

.pizzaChef {
  display: none;
}

.sectionHeader {
  position: relative;
}

.sectionHeader h2 {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%);
  opacity: 10%;
  font-size: 3rem;
  padding-top: 2vh;
  text-shadow: 1px 1px 2px black;
  z-index: -1;
}

.sectionHeader h1 {
  font-size: 2rem;
  padding-top: 3vh;
}

.sectionHeader img {
  box-shadow: none;
  height: 40px;
  object-fit: contain;
}

.videoBanner {
  position: relative;
  background-image: url("https://i.pinimg.com/originals/21/2f/91/212f91a5e064ea3087cce922f4acd32a.jpg");
  padding-top: 66%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3vh 0;
}

.iframeContainer {
  position: absolute;
  width: 90%;
  padding-top: 66%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.embeddedIframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.sectionHeaderV2 > h1 {
  font-size: 2rem;
  font-style: bold;
  padding-top: 3vh;
  text-align: center;
}

@keyframes title_appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#pageTitle > h1 {
  opacity: 0%;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  animation-name: title_appear;
  animation-duration: 2.5s;
  animation-delay: .25s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slide_in_top {
  0% {
    opacity: 0%;
    top: -20px;
  }
  100% {
    opacity: 100%;
    top: -10px;
  }
}

#pageTitle > p {
  opacity: 0%;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  color: white;
  font-style: italic;
  text-align: center;
  animation-name: slide_in_top;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.wrapper {
  display: block;
  position: relative;
  margin: 20px 0;
  background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}

.sideFade::before, .sideFade::after {
  position: absolute;
  height: 100%;
  width: 60px;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.sideFade::before {
  left: 0;
  top: 0;
}

.sideFade::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.itemSlide {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
}

.itemSlide img {
  width: 50vw;
  min-height: 17vh;
  object-fit: cover;
}

.bannerParallax {
  position: relative;
  background-image: url("https://i.pinimg.com/originals/34/fc/9a/34fc9af7947ff794b319065807bae02e.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4vh;
}

#interactiveMap {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.footerGridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), black), url("https://i.pinimg.com/originals/59/ed/b4/59edb4fc80e730ffb402c1d4df58a1bb.jpg");
  background-size: cover;
  justify-items: start;
}

.footerGridContainer div {
  color: white;
  margin-left: 10vw;
}

.footerGridContainer h2 {
  padding: 2vh 0;
}

.footerGridContainer li {
  list-style: none;
  padding: 5px 0;
}

.footerGridContainer a {
  text-decoration: none;
  color: white;
}

.footerGridContainer .socialMediaIcons {
  height: 18px;
  justify-self: left;
  padding: 2px;
  box-shadow: none;
  margin: 10px;
  filter: invert(100%);
}

@media only screen and (min-width: 700px) {
  #mobilePhoneIcon {
    display: none;
  }
  #navContact a {
    pointer-events: none;
    cursor: default;
  }
  .pizzaChef {
    display: initial;
    height: 80%;
    margin: 0;
  }
  .ourStoryGridCntnr {
    grid-template-columns: 1fr 1.5fr 1fr;
    margin: 0 2vw;
    align-items: center;
  }
  .ourStoryGridCntnr #imgMobileOnly {
    display: none;
  }
  .ourStoryGridCntnr #imgRight {
    display: inherit;
    object-fit: contain;
    box-shadow: none;
  }
  .iframeContainer {
    width: 70%;
    padding-top: 45%;
  }
  .itemSlide img {
    width: 45vw;
    height: 25vh;
  }
  .twoColGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    padding: 5vh 16vw;
    column-gap: 5px;
  }
  .twoColGridContainer .sectionHeaderV2 {
    background-color: ivory;
  }
  #interactiveMap {
    max-width: 100%;
    height: 30vh;
  }
  .footerGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-size: cover;
    justify-items: left;
  }
  .footerGridContainer div {
    color: white;
    padding: 0;
  }
  .footerGridContainer h2 {
    padding: 2vh 0;
  }
  .footerGridContainer li {
    list-style: none;
    padding: 5px 0;
  }
  .footerGridContainer div:nth-child(4) {
    grid-column: 1 / span 3;
    padding: 0;
    padding-top: 40px;
    margin: 0;
    justify-self: center;
  }
  .footerGridContainer div:nth-child(4):before {
    content: "";
    display: block;
    width: 100%;
    border-top: 2px solid white;
  }
}
/*# sourceMappingURL=style.css.map */