@import '_generalStyle.scss';
@import '_variablesMixins.scss';

.headerBGFixed {
    position: relative;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .6),rgba(0, 0, 0, 8)), url('https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg');
    min-height: $parallaxMinHeight;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

fade {
    @include edgeFade($fadeHeight);
}

@import '_headerStyle.scss';

.ourStoryGridCntnr {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;

    img {
        height: 27vh;
        width: 95%;
        object-fit: cover;
    }

    #gridHeading  {
        padding: 0 5vw;
    }

    button {
        margin-right: auto;
        margin-left: auto;
        width: 300px;
    }
}
//Removes any images for mobile in this class
.mobileUnseen {
    display: none;
}

.sectionHeader {
    position: relative;
    
    h2 {
        position: absolute;
        top: -10px;
        left: 20px;
        opacity: 20%;
        font-size: 2.2rem;
        padding-top: 2vh;
        text-align: center;
        text-shadow: 1px 1px 2px black;
        z-index: -1;
    }

    h1 {
        font-size: 2rem;
        font-style: normal;
        padding-top: 3vh;
    }
}

.videoBanner {
    position: relative;
    background-image: url('https://i.pinimg.com/originals/21/2f/91/212f91a5e064ea3087cce922f4acd32a.jpg');
    padding-top: 66%;
    //height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3vh 0;
   
}
.iframeContainer {
    position: absolute;
    width: 90%;
    padding-top: 66%; //Adjust to maintain preferred aspect ratio
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.embeddedIframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.sectionHeaderV2 > h1 {
    font-size: 2rem;
    font-style: bold;
    padding-top: 3vh;
    text-align: center;
}

// Page load animations
@keyframes title_appear {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

#pageTitle > h1 {
   @include pageLoadAppearH1 ($fontSze*2);
}

@keyframes slide_in_top {
    0% {opacity: 0%; top:-20px;}
    100% {opacity: 100%; top:-10px;}
}

#pageTitle > p {
    @include pageLoadAppearP ($fontSze);
}

//Carousal animation styling
.wrapper {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    }

.sideFade::before, .sideFade::after {
    height: 100px;
    width: 200px;
    content: "";
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
    z-index: 2;
  }

  .sideFade::before {
    left: 0;
    top: 0;
  }
  .sideFade::after {
    right:0;
    top:0;
    transform: rotateZ(180deg);
  }

.container {
    display: flex;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
}
.itemSlide {
    display: flex;
    align-items: center;
    animation: slideshow 8s linear infinite;
  }

.itemSlide img {
    max-width: 180px;
    min-height: 17vh;
    object-fit: cover;
}

#interactiveMap {
    display: block;
    margin: 0 auto;
    width: 100%;
}

@import '_footerStyle.scss';

@media only screen and (min-width:700px) {
    #mobilePhoneIcon {
        display: none;
    }

    #navContact a {
        pointer-events: none; // Makes the anchor tag unclickable
        cursor: default; //Default cursor type
    }

   .mobileUnseen {
        display: initial;
    }

   .ourStoryGridCntnr {
        grid-template-columns: 1fr .8fr 1fr;
        margin: 0 2vw;
        align-items: center;

        #imgMobileOnly {
            display: none;
        }
        
        #imgRight {
            display: initial;
            height: 26vh;
            width: 19vh;
            object-fit: cover;
            box-shadow: none;
        }
   }
  
    .sectionHeader {
        h2 {
            position: unset;
            opacity: 20%;
            font-size: 2.2rem;
            padding-top: 2vh;
            text-align: center;
            text-shadow: 1px 1px 2px black;
            z-index: -1;
            margin-bottom:-70px;
        }
    
        h1 {
            position: unset;
            font-size: 2.5rem;
            font-style: normal;
            padding-top: 3vh;
            text-align: center;
        }
    }

    .iframeContainer {
        width: 70%;
        padding-top: 45%; //Adjust to maintain preferred aspect ratio
    }

    .itemSlide img {
        width: 45vw;
        height: 25vh;
    }

    .twoColGridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        padding: 5vh 16vw;
        column-gap: 5px;
        
        .sectionHeaderV2 {
            background-color: ivory;
        }
    }

    #interactiveMap {
        max-width: 100%;
        height: 30vh;
    }

    .footerGridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-size: cover;
        justify-items: left;
    
        div {
            color: white;
            padding:0;
        }
    
        h2 {
            padding: 2vh 0;
        }
    
        li {
            list-style: none;
            padding: 5px 0;
        }

        div:nth-child(4) {
            grid-column: 1 / span 3;
            padding:0;
            padding-top: 40px;
            margin: 0;
            justify-self: center;
        }
        div:nth-child(4):before {
            content: "";
            display: block;
            width: 100%;
            border-top: 2px solid white;
        }
    }
}