@import '_generalStyle';
@import '_variablesMixins.scss';
@import '_headerStyle.scss';

.ourStoryGridCntnr {
    display: grid; //Foundation for tablet and desktop version
    grid-template-columns: 1fr;
    margin-top: 20px;
    justify-items: center;

    img {
        height: 27vh;
        width: 95%;
        object-fit: cover;
    }

    #imgRight {
        display: none;
    }
}

.pizzaChef {
    display: none;
}

#imgMobileOnly {
    min-height: 300px;
}

#prgrphSeparater {
    display: none;
}

.sectionHeader {
    position: relative;
    
    h2 {
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translate(-50%);
        opacity: 10%;
        font-size: 3rem;
        padding-top: 2vh;
        text-shadow: 1px 1px 2px black;
        z-index: -1;
    }

    h1 {
        font-size: 2rem;
        padding-top: 3vh;
    }

    img {
        box-shadow: none;
        height: 40px;
        object-fit: contain;
    }

    .paraMobileHide {
        display: none;
    }
}

.videoBanner {
    position: relative;
    background-image: url('https://i.pinimg.com/originals/21/2f/91/212f91a5e064ea3087cce922f4acd32a.jpg');
    padding-top: 80%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 3vh 0;
    
}

.iframeContainer {
    position: absolute;
    width: 90%;
    padding-top: 66%; //Adjust to maintain preferred aspect ratio
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.embeddedIframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

// Page load animations
@keyframes title_appear {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

#pageTitle > h1 {
   @include pageLoadAppearH1 ($fontSze*2);
}

@keyframes slide_in_top {
    0% {opacity: 0%; top:-20px;}
    100% {opacity: 100%; top:-10px;}
}

#pageTitle > p {
    @include pageLoadAppearP ($fontSze);
}

//Carousal animation styling
.wrapper {
    display: block;
    position: relative;
    margin: 20px 0;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}

.sideFade::before, .sideFade::after {
    position: absolute;
    height: 100%;
    width: 60px;
    content: "";
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
    z-index: 2;
}

  .sideFade::before {
    left: 0;
    top: 0;
}
  .sideFade::after {
    right:0;
    top:0;
    transform: rotateZ(180deg);
}

.itemSlide {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
}

.itemSlide::-webkit-scrollbar { /*Hide scrollbar for Chrome */
    display: none;
}

.itemSlide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.itemSlide img {
    width: 50vw;
    min-height: 17vh;
    object-fit: cover;
}

.bannerParallax {
    position: relative;
    background-image: url('https://i.pinimg.com/originals/34/fc/9a/34fc9af7947ff794b319065807bae02e.jpg');
    min-height: $parallaxMinHeight*0.5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4vh;
}

.sectionHeaderV2 > h1 {
    font-size: 2rem;
    font-style: bold;
    padding-top: 3vh;
    text-align: center;
}

.sectionHeaderV2 > p {
    color: white;
    text-align: center;
    font-weight: bold;
}

#interactiveMap {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

@import '_footerStyle.scss';

@media only screen and (min-width:700px) {
   
    .headerBGFixed {
        min-height: $parallaxMinHeight*1.2;
    }
    
    .navigation_grid_container {
        top: 150px;
    }

   .ourStoryGridCntnr {
        grid-template-columns: 1fr 1.5fr 1fr;
        margin: 0 2vw;
        align-items: center;

        #imgMobileOnly {
            display: none;
        }
        
        #imgRight {
            display: inherit;
            object-fit: contain;
            box-shadow: none;
            height: 100%;
        }
        .pizzaChef {
            display: inline-block;
            height: 100%;
            margin: 0;
            width: 90%;
            padding-bottom: 20px;
            box-shadow: none;
        }
   }

    button { 
        width: 250px;
    }

    .iframeContainer {
        width: 70%;
        padding-top: 45%; //Adjust to maintain preferred aspect ratio
    }

    .itemSlide img {
        width: 45vw;
        height: 25vh;
    }

    .findUsColContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        padding: 5vh 16vw;
        column-gap: 5px;
        
        .sectionHeaderV2 {
            background-color: ivory;
        }

        p {
            color: black;
        }
    }

    #interactiveMap {
        max-width: 100%;
        height: 300px;
    }
}

@media only screen and (min-width:1000px) {
    
    .headerBGFixed:after {
        height: $fadeHeight*1.7;
    }
    
    .headerBGFixed {
        min-height: 100vh;
    }
    
    .navigation_grid_container {
        top: 25vh;
 
        #pageTitle > h1:after {
            width: 25%;
        }
    }

    .ourStoryGridCntnr{
        margin: 0 15vw;
    }
    
    // Page load header animations 
    @keyframes title_appear {
        0% {opacity: 0%;}
        100% {opacity: 100%;}
    }
 
    .navigation_grid_container #pageTitle > h1 {
        @include pageLoadAppearH1 ($fontSze*4);
    }
 
    @keyframes slide_in_top {
        0% {opacity: 0%; top:-20px;}
        100% {opacity: 100%; top:-10px;}
    }
 
    .navigation_grid_container #pageTitle > p {
        @include pageLoadAppearP($fontSze*1.2);
    }
    
    .navigation_grid_container {
        #logo {
            height: 200px;
        }
    }
    
    .ourStoryGridCntnr {
        margin-top: 20px;
         
        p {
            font-size: 14px;
        }
    }
    
    .sectionHeader > .paraMobileHide {
        display: block;
    }

    #prgrphSeparater {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 35px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .videoBanner { 
        padding-top: 50%;
    }
    .iframeContainer {
        padding-top: 33%;
    }

    .iframeContainer {
        width: 55%;
        padding-top: 33%; //Adjust to maintain preferred aspect ratio
    }
    
    //Gallery Grid
    .wrapper {
        margin: 20px 16vw;
        background: none;
    }
    .sideFade::before, .sideFade::after {
        display: none;
    }

    .itemSlide {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 200px);
        align-items: center;
        justify-items: center;
        margin: 0 5vw;

        img:nth-child(1) {
            grid-row: 1 / 3;
            height: 95%;
            align-self: start;
        }

        img:nth-child(2) {
            height: 95%;
            align-self: start;
        }

        img:nth-child(3) {
            grid-row: 2 / 4;
            height: 90%;
            align-self: center;
        }

        img:nth-child(4) {
            height: 60%;
            grid-row: 3 / 5;
            grid-column: 1;
            align-self: start;
        }

        img:nth-child(5) {
            grid-row: 4 / 6;
            grid-column: 2;
            height: 100%;
            align-self: end;
        }

        img:nth-child(6) {
            grid-row: 4 / 6;
            grid-column: 1;
            height: 85%;
            align-self: end;
        }
    }
     
    .itemSlide img {
        max-width: 90%;
        max-height: 100%;
        object-fit: cover;
        padding: 0;
        margin: 0;
    }

    .bannerParallax {
        min-height: $parallaxMinHeight*0.6;
    }

    .findUsColContainer {
        margin: 20px 16vw;
    }

}
