#pizza, #pizzaToggle, #pasta, #pastaToggle, #dessert, #dessertToggle  {
  display: none;
}

#pizzaToggle:checked ~ #pizza {
  display: block;
}

#pastaToggle:checked ~ #pasta {
  display: block;
}

input[type="radio"]:checked {
  box-shadow: 0 0 0 3px orange;
}
label {
  user-select: none;
  display: inline-block;
  cursor: pointer;
}


