.headerBGFixed {
  position: relative;
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, .6),rgba(0, 0, 0, 8)), url('https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.headerBGFixed:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(238, 234, 227, .9) 100%); 
}

#pizza, #pizzaToggle, #pasta, #pastaToggle, #dessert, #dessertToggle  {
  display: none;
}

#pizzaToggle:checked ~ #pizza {
  display: block;
}

#pastaToggle:checked ~ #pasta {
  display: block;
}

input[type="radio"]:checked {
  box-shadow: 0 0 0 3px orange;
}

label {
  position: relative;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  background-color: aqua;
  padding: 20px;
  border-radius: 25px;
  background-size: 120%;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 150px;
  height: 100px;
}

label > p {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

 }

 input[type="radio"]:checked + label {
  border: 5px solid red;
}

label:nth-child(1):hover {
  background-image: url('https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg');
}

label:hover:nth-child(4) {
  background-image: url('https://i.pinimg.com/originals/5e/a3/4f/5ea34f5f3f17b677c7c1bd4475397d05.jpg');
}

img {
  height: 20px;
}

.btn-16 {
  border: none;
  color: #000;
}

.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.custom-btn:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}


.custom-btn:active {
  top: 2px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: rgb(90, 51, 197);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

